<header>
  <nav>
    <a [routerLink]="['path1']">path1</a>
    <a [routerLink]="['path2']">path2</a>
    <a [routerLink]="['path3']">path3</a>
    <a [routerLink]="['path4']">path4</a>
    <a [routerLink]="['path5']">path5</a>
    <a [routerLink]="['path6']">path6</a>
    <a [routerLink]="['path7']">path7</a>
    <a [routerLink]="['path8']">path8</a>
    <a [routerLink]="['path9']">path9</a>
    <a [routerLink]="['path10']">path10</a>
  </nav>
</header>
<main>
  <h1>Hello from {{title}}!</h1>

  <!-- Images (and assets) are parsed and loaded from within the public directory -->


  <router-outlet></router-outlet>
</main>
<footer>
  footer...
</footer>
